.teste {
    max-width:130%;
  }
  .teste li {
    overflow:hidden;
    display:flex;
  }
  .teste li span {
    white-space: nowrap;
  }

  .teste li div:before {
    content:'------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------';
    white-space: nowrap;
  }
  .teste > a {
    display:flex;
    text-decoration:none;
    color: rgb(0, 0, 0);
  }
  
  h1{
    font-size: 2rem;
    text-align: center;
    font-family: Georgia;
    color: rgba(131, 7, 7, 0.856);
}

  

